---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="text-lg text-[#FAFAFA]">Projects</h1>
      <ul class="flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <a
                href={`/projects/${project.slug}`}
                class="group flex min-h-[120px] flex-col justify-between border border-white/10 bg-white/5 p-6 transition-colors duration-300 hover:bg-white/10"
              >
                <div class="space-y-3">
                  <h2 class="text-xl font-semibold text-[#FAFAFA]">
                    {project.data.title}
                  </h2>
                  <p class="text-base text-[#FAFAFA]/60">
                    {project.data.description}
                  </p>
                </div>
                <div class="flex items-center justify-end text-[#FAFAFA]/60 transition-colors duration-300 group-hover:text-[#FAFAFA]">
                  <span class="inline-flex size-8 items-center justify-center rounded-md border border-white/10 bg-white/5">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      class="size-4 stroke-2"
                      fill="none"
                      stroke="currentColor"
                    >
                      <line x1="5" y1="12" x2="19" y2="12" />
                      <polyline points="12 5 19 12 12 19" />
                    </svg>
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
